<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false" 
	useCustomProxy="true" customProxyUrl="http://192.168.1.20:4480" customProxyByPassList="localhost,vm10030-supp03,vm10030-supp03.develop.esriitalia.lan" logFile="c:\esri\log\proxy.txt" logLevel="Error" >
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
				   
				   
		<serverUrl url="https://vm10030-supp03.develop.esriitalia.lan/ags/" matchAll="true" username="develop\ggigante" password="cambiala" domain=""  />			
		<serverUrl url="https://vm10030-supp03/ags/" matchAll="true" />		
		<!-- username="ggigante" password="cambiala" domain="develop" -->
		<serverUrl url="https://vm10030-supp03.develop.esriitalia.lan/arcgis/sharing" matchAll="true" username="ggigante" password="cambiala" domain="develop"/>	
		
		
		<!-- other online url -->
		<serverUrl url="http://js.arcgis.com/" matchAll="true" />
		<serverUrl url="https://js.arcgis.com/" matchAll="true" />
		<serverUrl url="https://static.arcgis.com/" matchAll="true" />
		<serverUrl url="http://www.arcgis.com/sharing/" matchAll="true" />
		<serverUrl url="https://services.arcgisonline.com/ArcGIS/rest/services/" matchAll="true" />
		<serverUrl url="https://server.arcgisonline.com/ArcGIS/rest/services/" matchAll="true" />
		<serverUrl url="http://192.168.2.1/" matchAll="true" />
		<serverUrl url="http://utility.arcgisonline.com/" matchAll="true" />
		<serverUrl url="http://psesriitalia.maps.arcgis.com" matchAll="true" />
		<serverUrl url="http://a.tile.openstreetmap.org/" matchAll="true" />
		<serverUrl url="http://b.tile.openstreetmap.org/" matchAll="true" />
		<serverUrl url="http://c.tile.openstreetmap.org/" matchAll="true" />
		<serverUrl url="https://geocode.arcgis.com/" matchAll="true" />
		<serverUrl url="http://geocode.arcgis.com/" matchAll="true" />
		<serverUrl url="https://utility.arcgisonline.com/" matchAll="true" />
		<serverUrl url="http://static.arcgis.com/" matchAll="true" />
		<serverUrl url="http://vm10030-enelags:85/Geocoding/" matchAll="true" />
		<serverUrl url="http://PSEsriItalia.maps.arcgis.com/" matchAll="true" />
		<serverUrl url="http://services.arcgisonline.com" matchAll="true"/>
		<serverUrl url="http://www.maps.arcgis.com/" matchAll="true" />
		<serverUrl url="http://server.arcgisonline.com/" matchAll="true" />
		<serverUrl url="http://services.arcgisonline.com/" matchAll="true" />
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
