<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="false" useCustomProxy="false" customProxyUrl="" customProxyByPassList="" logLevel="Info">

    <serverUrls>
	
 		<serverUrl url="http://sampleserver1.arcgisonline.com" matchAll="true" ></serverUrl>

		<!-- username="user" password="cambiala" domain="develop" -->
    </serverUrls>
	
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
